<!-- <div class="common-header">
    <div fxLayout="column wrap" style="height: 292px">
        <div style="height: 44px"></div>
        <div class="search"> <img src="../../assets/images/clock.svg"/><input type="text" class="search-input" name="searchText"/>  </div>
        <div class="header-headline"><h2 class="header-headline-content">Shopping Cart</h2></div>
    </div>
  </div> -->





<div fxLayout="row-wrap" fxLayoutAlign="space-between center" >
    <div fxFlex="10" class="branding">
        <img src="../../assets/images/clock.svg">
    </div>
    <div fxFlex="70">

        <input class="search-input" type="text">
    </div>
</div>
